/* For Profile.blade*/
  html, body {
    height: 100%;
    width: 100%;
    background-color: whitesmoke !important;
    /* background: url(https://images.pexels.com/photos/414102/pexels-photo-414102.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940); */
    /* background-image: url('/images/avire-logo.png'); */
  }   

  .left-hand-col, .right-hand-col {
    background-color: whitesmoke !important; 
  }

  .post-preview-image:hover {
    cursor: pointer;
    border: 2px solid rgb(11, 198, 240);
  }

  .carousel-inner > .carousel-item > img {
    height: 80vh;
    width: auto;
    object-fit: contain;
  }  

  a.follow-status-search:hover {
    color: blue !important;
    font-weight: bolder !important;
  } 

  div.post-content {
    font-family: 'Roboto', sans-serif;
    font-size: 16px; 
  }

  a.post-title {
    font-family: 'Roboto', sans-serif;
    font-size: 18px; 
    text-decoration: none;
    /* style="font-size:18px; text-decoration: none !important;" */
  } 

  .tooltip-inner {
    background-color: #00acd6 !important;
    /*!important is not necessary if you place custom.css at the end of your css calls. For the purpose of this demo, it seems to be required in SO snippet*/
    color: #fff;
  }   
         
  /* .dropdown-4-share:hover .dropdown-menu, */
  .dropdown-4-like:hover .dropdown-menu {       
    display:inline-block;  
 } 

  .like-count-in-type:hover .dropdown-menu {
    display: inline-block;
  }

  .dropdown-item-like-selection:hover { 
    background-color: white !important; 
  }